@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nerko+One&family=Roboto+Condensed:ital@1&family=Roboto:ital@1&family=Signika+Negative&family=Uchen&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-image: url(https://images5.alphacoders.com/822/822471.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  padding: 0;
}

header {
  margin-bottom: -100px;
  margin-top: -60px;
}

.container {
  margin: 3% auto;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.col-md-6 p {
  font-weight: bold;
  font-size: 20px;
}

.col-md-6 a {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/* Formulário de Login */
.container form .form-group {
  width: 100%;
  margin-left: 0;
  border: 0;
  padding: 0;
  color: rgb(255, 41, 69);
  font-weight: bold;
}

.container form button {
  width: 100%;
  margin-left: 0;
  background-color: rgb(255, 41, 69);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}

.container form button:hover {
  opacity: 0.8;
  background-color: rgba(255, 41, 70, 0.897);
}

/* Cabeçalho */
#cabecalho {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 41, 69);
  background-color: transparent;
}

#cabecalho h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 60px;
}

#cabecalho h4 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 30px;
}

#icones_cabecalho {
  transform: translate(-50%, -50%);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icones_cabecalho a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 41, 69);
  color: whitesmoke;
  margin: 0 3%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 23px;
  text-decoration: none;
}

#icones_cabecalho a:hover {
  background-color: black;
}

#icones_cabecalho i {
  transition: 0.5s all;
}

#icones_cabecalho a:hover > i {
  transform: scale(1.4) rotate(23deg);
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Modal de Esqueci Minha Senha */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  height: 160px;
  padding: 15px;
  border: solid 1px gray;
  background-color: rgb(243, 243, 243);
  display: none;
  border-radius: 8px;
}

.popup div {
  display: flex;
  align-items: center;
}

.popup #btfechar {
  position: absolute;
  margin-top: -30%;
  margin-right: 0;
}

.popup button {
  font: 400 18px Verdana, sans-serif;
  background-color: rgb(236, 87, 107);
  color: rgb(63, 55, 55);
  border-color: rgb(236, 87, 107);
}

#voltar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  header {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  body,
  header {
    margin: 0;
  }

  #cabecalho h1 {
    font-size: 30px;
    margin-right: 50px;
  }

  #cabecalho h4 {
    font-size: 18px;
    margin-right: 50px;
  }

  .container {
    margin: 2% auto;
    font-size: 14px;
  }

  .container p {
    font-size: 14px;
  }

  .container form button {
    padding: 8px 16px;
  }

  #icones_cabecalho a {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  #icones_cabecalho {
    margin-right: 0%;
  }
}
