@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nerko+One&family=Roboto+Condensed:ital@1&family=Roboto:ital@1&family=Signika+Negative&family=Uchen&display=swap");
#cabecalho {
  display: flex;
  margin-top: -50px;
  margin-bottom: -100px;
  margin-left: -80px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 41, 69);
  background-color: transparent;
  font-size: 110%;
}

#cabecalho h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 60px;
}

#cabecalho h4 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 30px;
}

#icones_cabecalho {
  transform: translate(-50%, -50%);
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icones_cabecalho a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 41, 69);
  color: whitesmoke;
  margin: 0 3%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 23px;
  text-decoration: none;
}

#icones_cabecalho a:hover {
  background-color: black;
}

#icones_cabecalho i {
  transition: 0.5s all;
}

#icones_cabecalho a:hover > i {
  transform: scale(1.4) rotate(23deg);
}

#corpo {
  margin-left: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images5.alphacoders.com/822/822471.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#corpo form {
  width: 80%;
}
#corpo #inputs_form {
  margin-left: 20%;
  margin-block-end: 4%;
}

.container {
  margin: 5%;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form .form-group {
  width: 100%;
  margin-left: 30%;
  border: 0;
  padding: 0;
  color: rgb(255, 41, 69);
  font-weight: bolder;
}

.container form button {
  width: 100%;
  margin-left: 30%;
  background-color: rgb(255, 41, 69);
  border: none;
}

.container form button:hover {
  opacity: 0.8;
  background-color: rgba(255, 41, 70, 0.897);
}

.col-md-6 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: white;
}

.col-md-6 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bolder;
  color: white;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  height: 160px;
  padding: 15px;
  border: solid 1px gray;
  background-color: rgb(243, 243, 243);
  display: none;
  border-radius: 8px;
}

.popup div {
  display: flex;
  align-items: center; /*alinha no centro na vertical*/
  justify-content: center; /*alinha no centro na horizontal*/
}

.popup #btfechar {
  position: absolute;
  margin-top: -30%;
  margin-right: 0;
}

.popup button {
  font: 400 18px Verdana, sans-serif;
  background-color: rgb(236, 87, 107);
  color: rgb(63, 55, 55);
  border-color: rgb(236, 87, 107);
}

#voltar {
  display: flex;
  align-items: center;
  justify-content: center;
}
